// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #d89519;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue-charcoal: #334E58;
$pink: #CD5D67;
$light-blue: #93B7BE;
$light-cyan: #D4F5F5;
$black-chocolate: #33261D;
