<%# <div class="div-parent">


  <div class="drpdwn-experiences">
     <label  class="inp1"> Experiences </label>
  </div>

  <div class="dates">
     <label  class="inp1">Quand ? </label>
  </div>

  <div class="location">
    <label class="inp1">Où ?</label>
  </div>

  <div class="gender">
  </div>

  <div class="age">
  </div>

</div> %>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
