<h1>RGNB, l'aventure humaine !</h1>

<%# A SUPPRIMER CELINE SEULEMENT POUR TESTER DEVISE %>
<%= link_to "Voir toutes les EXPERIENCES", experiences_path %>
<br>
<%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
