<h1>All my experiences</h1>

<ul>
<% @experiences.each do |experience| %>
  <% if policy(experience).show? %>
    <li>Ville :<%= experience.city %></li>
    <li>Prix par heure :<%= experience.price_per_hour %></li>
    <%= link_to "Voir les details", experience_path(experience) %>
  <% end %>
<% end %>
</ul>
