
.custom-button {
  background-color: $blue-charcoal;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: $light-cyan;
  box-shadow: $black-chocolate;
  }

.custom-button:hover{
  color:#CD5D67;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black !important;
}

// $blue-charcoal: #334E58;
// $pink: #CD5D67;
// $light-blue: #93B7BE;
// $light-cyan: #D4F5F5;
// $black-chocolate: #33261D;
