
.custom-button {
  background-color: $blue-charcoal;
  border-radius: 40px;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: $light-cyan;
  }

.custom-button:hover{
  color: beige
}

.custom-button a {
  text-decoration: none;
  color: $light-cyan;
}


a:hover {
  color: beige
}

#btn-navbar-big {
  position: absolute;
  left: 33%;
}

#btn-navbar-small {
  position: absolute;
  left: 80%;
  margin-bottom: 30px;
}

// $blue-charcoal: #334E58;
// $pink: #CD5D67;
// $light-blue: #93B7BE;
// $light-cyan: #D4F5F5;
// $black-chocolate: #33261D;
