.list-container {
  padding: 10px;
  margin: 0, auto;
}

.box {
  align-items: center;
  justify-content: space-around;
}

.box div {
  width: 350px;
  height: 100px;
}

.container {
  margin-bottom: 30px;
}
