.wrapper {
  margin-top: 30px;
  margin-bottom: 2px;
  min-height: calc(100vh - 140px - 164px );
}

#new_experience {
  max-width: 400px;
  margin: auto;
  .custom-button {
    width: fit-content;
  }
}
